---
import Head from "../components/Head.astro";
import { ViewTransitions } from "astro:transitions";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../config";

let { title } = SITE;
let description = "Beauty salon";
let permalink = "https://www.happyskin.co.za";
---

<html lang="en">
  <head>
    <Head {title} {description} {permalink} />
    <ViewTransitions />
  </head>

  <body>
    <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
      <Nav />
      <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
          <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white font-pathway-gothic-one"
          >
            CONTACT
          </h1>
        </div>
      </div>
      <div class="ml-[auto] mr-[auto] w-full max-w-[65em] pl-[2rem] pr-[2rem]">
        <form
          action="https://form.taxi/s/bdrl2uwm"
          method="POST"
          enctype="multipart/form-data"
          class="flex flex-col"
        >
          <input name="_redirect" type="hidden" value="/success" />

          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Your email</label
          >
          <input
            name="email"
            type="email"
            class="mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          />
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Name</label
          >
          <input
            name="name"
            type="text"
            class="mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          />
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Telephone</label
          >
          <input
            name="telephone"
            type="text"
            class="mb-4 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          />
          <div class="m-5"></div>
          <label
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Message</label
          >
          <textarea
            name="additional-information-and-other"
            class="mb-4 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          ></textarea>
          <button
            class="mt-10 w-[8em] inline-flex justify-center content-center items-center px-3 py-2 text-sm font-medium text-center text-white bg-slate-700 rounded-lg hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >Submit</button
          >
        </form>
      </div>
      <Footer />
    </div>
  </body>
</html>
