---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<div class="flex w-full">
  <div class="w-1/2 font-bold text-center">
    {post.frontmatter.title}
  </div>
  <div class="w-1/2 text-center">R{post.frontmatter.price}</div>
</div>

<style>
  .animation {
    opacity: 0;
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
  }

  .scroll-animation {
    opacity: 1;
    transform: translateX(0);
  }
</style>
<script>
  const the_animation = document.querySelectorAll(".animation");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("scroll-animation");
        } else {
          entry.target.classList.remove("scroll-animation");
        }
      });
    },
    { threshold: 0.1 }
  );
  //
  for (let i = 0; i < the_animation.length; i++) {
    const elements = the_animation[i];

    observer.observe(elements);
  }
</script>
